@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.ViewModel.TestRequestViewModel
 

<div class="row alertBox hidden" id="alertBox">
    <span role="alert" class="alert"></span>
</div> 

 