@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.Model.Piece

<script>
    $("#pieceUsageList").select2({
        dropdownParent: $(".modal-body"),
        allowClear: true,
        minimumInputLength: 0,
        ajax: {
            cache: false,
            dataType: "json",
            type: "Post",
            url: "PieceUsage/GetActivePieceUsages",
            data: '{}',
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.usageName,
                            id: item.id
                        }
                    })
                };
            }
        },
    }).on('change', function (e) {
        var getID = $(this).select2('data');    
        $("#pieceUsageId").val(getID[0]['id']);
    }); 
     
    $('#chk_IsActive').on('change', function () {
        if (this.checked) {
            $("#chk_IsActive1").val(true);
        }
        else {
            $("#chk_IsActive1").val(false);
        }
    }); 
</script>


<div class="row alertBox hidden" id="alertBox">
    <span role="alert" class="alert"></span>
</div>

<div class="container">
    <form asp-action="UpdatePieceUsage" asp-controller="PieceUsage">
        <div class="form-group">
            <input asp-for="Id" type="hidden" readonly="readonly" />
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="Code" class="control-label"> کد قطعه</label>
                    <input asp-for="Code" id="txt_Code" class="form-control" />
                </div>
            </div>
        </div>
         <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="PieceName" class="control-label">نام قطعه</label>
                    <input asp-for="PieceName" id="txt_PieceName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="PieceUsageId" class="control-label">کاربرد قطعه</label>
                    <select class="form-control" id="pieceUsageList" name="pieceUsageList" asp-for="PieceUsageId"
                            style="width:300px"></select>
                    <input asp-for="PieceUsageId" id="pieceUsageId" class="form-control" type="hidden" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="IsActive" class="control-label">وضعیت</label>
                    <input id="IsActive" type="checkbox" name="isActive" value="IsActive" checked="@Model.IsActive" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <input type="submit" value="ویرایش" asp-action="UpdatePieceUsage" id="submit" class="btn btn-warning btn-sm" />
                <input type="submit" value="خروج" asp-action="Close" class="btn btn-danger btn-sm" />
            </div>
        </div>
    </form>
</div>