
<!DOCTYPE html>
<html>
<head> 
</head>
<body>

    @await Component.InvokeAsync("Menu")

    <section class="home-section">
        <div class="home-content">
            @* <i class='bx bx-menu fa fa-bars'></i>*@

            <div class="top_navbar" style="margin-right:90%">
                <a href="/Home/Index">
                    <span title="صفحه اصلی" class="icon"><i class="fas fa-home" style='color: white;padding:10px;font-size:24px'></i></span>
                </a>
                <a href="/Home/Logout">
                    <span title="خروج" class="icon"><i class="fas fa-sign-out" style='color: white ;padding:10px;font-size:24px'></i></span>
                </a>
            </div>
        </div>
        <div style="padding-right:20px; padding-left:20px">
            @RenderBody()
            @RenderSection("Script", false) 

            <bold-script-manager></bold-script-manager>
        </div>
    </section>


</body>

</html>


