 <!-- Modal Popup -->
<div id="MyPopup" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content modalStyle">
            <div class="modal-header"> 
                <label>ثبت / ویرایش اطلاعات</label>
                <img src="~/img/modal-header.png" />
            </div>
 
            <div id="MyPopup_body" class="modal-body">
                <div id="dvPartial" style="padding-bottom:20px"></div>
            </div>
        </div>
    </div>
</div>

  