@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.ViewModel.UserViewModel

<script>

    $('#chk_IsActive').on('change', function () {
        if (this.checked) {
            $("#chk_IsActive1").val(true); 
        }
        else {
            $("#chk_IsActive1").val(false);
        }
    });


    $('#chk_IsAdmin').on('change', function () {
        if (this.checked) {
            $("#chk_IsAdmin1").val(true);
        }
        else {
            $("#chk_IsAdmin1").val(false);
        }
    });

</script>


<div class="row alertBox hidden" id="alertBox">
    <span role="alert" class="alert"></span>
</div>


<div class="container">
    <form asp-action="UpdateUser" asp-controller="Users"> 
           <div class="form-group">
            <input asp-for="Id" type="hidden" readonly="readonly" />
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">نام</label>
                    <input asp-for="FirstName" id="txt_FirstName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">نام خانوادگی</label>
                    <input asp-for="LastName" id="txt_LastName" class="form-control" />
                </div>
            </div>
        </div> 
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">تلفن</label>
                    <input asp-for="Phone" id="txt_Phone" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="Address" class="control-label">آدرس</label>
                    <input asp-for="Address" id="txt_Address" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">نام کاربری</label>
                    <input asp-for="UserName" id="txt_UserName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="Password" class="control-label">رمز عبور</label>
                    <input asp-for="Password" id="txt_Password" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label class="control-label">Admin</label>
                    <input type="checkbox" checked="checked" id="chk_IsAdmin">
                    <input asp-for="IsAdmin" id="chk_IsAdmin1" class="form-control" value="true" type="hidden" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label class="control-label">وضعیت</label>
                    <input type="checkbox" checked="checked" id="chk_IsActive">
                    <input asp-for="IsActive" id="chk_IsActive1" class="form-control" value="true" type="hidden" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <input type="submit" value="ویرایش" asp-action="UpdateUser" id="submit" class="btn btn-warning btn-sm" />
                <input type="submit" value="خروج" asp-action="Close" class="btn btn-danger btn-sm" />
            </div>
        </div> 
    </form>
</div>