@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.Model.LabratoaryTool

<div class="container">
    <h4>ویرایش</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateLabratoaryTool" asp-controller="LabratoaryTool">

                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group">
                    <label asp-for="ToolName" class="control-label"></label>
                    <input asp-for="ToolName" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" asp-action="UpdateLabratoaryTool" class="btn btn-success btn-sm" />
                    <input type="submit" value="خروج" asp-action="Close" class="btn btn-danger btn-sm" />
                </div>
            </form>
        </div>
    </div>
</div>