@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.Model.PieceUsage

<div class="row alertBox hidden" id="alertBox">
    <span role="alert" class="alert"></span>
</div> 
 
<div class="container"> 
    <form asp-action="AddPieceUsage" asp-controller="PieceUsage">
        <div class="row" style="padding-bottom:20px">
            <div class="col-8">
                <div class="form-group">
                    <label asp-for="UsageName" class="control-label">کاربرد</label>
                    <input asp-for="UsageName" id="txt_UsageName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <input type="submit" value="ذخیره" asp-action="AddPieceUsage" id="submit" class="btn btn-success btn-sm" />
                <input type="submit" value="خروج" asp-action="Close" class="btn btn-danger btn-sm" />
            </div>
        </div>
    </form>
</div>